<div class="container">
    <div class="row mt-5">
      <div class="col-8">
        <div class="row">
          <div class="col mb-3">
            <div class="card">
              <div class="card-body">
                <div class="e-profile">
                  <div class="row">
                    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                      <div class="text-center text-sm-left mb-2 mb-sm-0">
                        <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">Change Password</h4>
                      </div>
                    </div>
                  </div>
                  <div class="tab-content pt-3">
                    <div class="tab-pane active">
                      <form class="form" [formGroup]="cForm" (ngSubmit)="changepassword(cForm.value)">
                        <div class="row">
                          <div class="col">
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                    <label>Old Password</label>
                                    <input type="password" formControlName="oldPwd" id="oldPwd" type="password" name="oldPwd"
                                    class="form-control">
                                    <div *ngIf="submitted && formControl.oldPwd.errors" class="text-danger" [ngClass]="{'is-invalid':submitted && formControl.oldPwd.errors}">
                                     <div *ngIf="formControl.oldPwd.errors.required"> *old Password is required.</div>
                                   </div>
                                </div>
                              </div>
                            </div>
  
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                    <label>New Password</label>
                                    <input type="password" formControlName="newPwd" id="newPwd" type="password" name="newPwd" class="form-control" [ngClass]="{'is-invalid':submitted && formControl.newPwd.errors}">
                                    <div *ngIf="submitted && formControl.newPwd.errors" class="text-danger">
                                     <div *ngIf="formControl.newPwd.errors.required"> *New Password is required.</div>
                                     <div *ngIf="formControl.newPwd.errors.pattern">
                                       <div>Password should be alphanumeric,should be capital,contain a special character,length must be greater than 7 characters
                                       </div>
                                     </div>
                                   </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                    <label>Confirm New Password</label>
                                    <input type="password" formControlName="confirmPwd" id="confirmPwd" name="confirmPwd" type="password" class="form-control" [ngClass]="{'is-invalid':submitted && formControl.confirmPwd.errors}">
                                    <div *ngIf="submitted && formControl.confirmPwd.errors" class="text-danger">
                                      <div *ngIf="formControl.confirmPwd.errors.required"> * confirmPassword is required.</div>
                                      <div *ngIf="formControl.confirmPwd.errors.confirmedValidator"> * Password and Confirm Password must be
                                        match.</div>
                                    </div>
                                    
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row mt-2">
                          <div class="col d-flex justify-content-end">
                            <button class="btn btn-success" type="submit">submit</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>