<div class="container">
    <div class="row">
        <div class="col-md-4 bg-dark h-100">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li>
                        <a routerLink="dashboard" data-bs-toggle="collapse" class="nav-link px-0 align-middle" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
                        
                    </li>
                    <li>
                        <a routerLink="manageusers" class="nav-link px-0 align-middle" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Manage Users</span> </a>
                    </li>
                    <li>
                        <a routerLink="products" data-bs-toggle="collapse" class="nav-link px-0 align-middle" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
                            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>
                    </li>
                  </ul>
               
            </div>
        </div>
        
    </div>
</div>