<div class="container">
  <div class="row mt-5">
    <div class="col-8">
      <div class="row">
        <div class="col mb-3">
          <div class="card">
            <div class="card-body">
              <div class="e-profile">
                <div class="row">
                  <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                    <div class="text-center text-sm-left mb-2 mb-sm-0">
                      <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">Add User Details</h4>
                    </div>
                  </div>
                </div>
                <div class="tab-content pt-3">
                  <div class="tab-pane active">
                    <form class="form" [formGroup]="adduserForm" (ngSubmit)="onSubmit()">
                      <div class="row">
                        <div class="col">
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Name</label>
                                <input class="form-control" type="text" name="name" formControlName="name"
                                  [ngClass]="{'is-invalid':submitted && formControl.name.errors}">
                                <div *ngIf="submitted && formControl.name.errors" class="text-danger">
                                  <div *ngIf="formControl.name.errors.pattern">* Enter valid Name.</div>
                                  <div *ngIf="formControl.name.errors.required">* Name is required.</div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" type="text" formControlName="email"
                                  [ngClass]="{'is-invalid':submitted && formControl.email.errors}">
                                <div *ngIf="submitted && formControl.email.errors" class="text-danger">
                                  <div *ngIf="formControl.email.errors.email">* Email must be valid.</div>
                                  <div *ngIf="formControl.email.errors.required">* Email is required.</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>phoneno</label>
                                <input class="form-control" type="text" formControlName="phoneno"
                                  [ngClass]="{'is-invalid':submitted && formControl.phoneno.errors}">
                                <div *ngIf="submitted && formControl.phoneno.errors" class="text-danger">
                                  <div *ngIf="formControl.phoneno.errors.maxlength">* Enter valid phone no.</div>
                                  <div *ngIf="formControl.phoneno.errors.required">* phone no is required.</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control mb-2" id="inputPassword"
                                  formControlName="password"
                                  [ngClass]="{'is-invalid':submitted && formControl.password.errors}"
                                  placeholder="Enter Password">
                                <div *ngIf="submitted && formControl.password.errors" class="text-danger">
                                  <div *ngIf="formControl.password.errors.required"> * Password is required.</div>
                                  <div *ngIf="formControl.password.errors.pattern">

                                    <ul>
                                      <li>Password should be alphanumeric</li>
                                      <li>A letter of the password should be capital</li>
                                      <li>Password must contain a special character (@, $, !, &, etc)</li>
                                      <li>Password length must be greater than 7 characters</li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" class="form-control mb-2" id="inputconfirmPassword"
                                  formControlName="confirmpassword"
                                  [ngClass]="{'is-invalid':submitted && formControl.confirmpassword.errors}"
                                  placeholder="Enter Confirm Password">
                                <div *ngIf="submitted && formControl.confirmpassword.errors" class="text-danger">
                                  <div *ngIf="formControl.confirmpassword.errors.required"> * confirmPassword is
                                    required.</div>
                                  <div *ngIf="formControl.confirmpassword.errors.confirmedValidator"> * Password and
                                    Confirm Password must be
                                    match.</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label for="gender">user type: </label>&nbsp;
                                <input type="radio" value="user" id="role" name="role" formControlName="role" />
                                User
                                <input type="radio" value="admin" id="role" name="role" formControlName="role" />
                                Admin

                                <div *ngIf="submitted && formControl.role.errors" class="text-danger">
                                  <div *ngIf="formControl.role.errors.required"> * select user type is required.</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label for="country">country </label>
                                <select id="country" name="country" formControlName="country" class="form-control"
                                  [ngClass]="{'is-invalid':submitted && formControl.confirmpassword.errors}">
                                  <option [ngValue]="c.name" *ngFor="let c of countryList">
                                    {{ c.name }}
                                  </option>
                                </select>

                                <div *ngIf="submitted && formControl.country.errors" class="text-danger">
                                  <div> *country is required</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <input type="checkbox" formControlName="acceptTerms" id="acceptTerms"
                                  class="form-check-input" />
                                <label for="acceptTerms" class="form-check-label">&nbsp; Accept Terms &
                                  Conditions</label>
                                <div *ngIf="submitted && formControl.acceptTerms.errors" class="text-danger">
                                  <div *ngIf="formControl.acceptTerms.errors.required"> * Accept Terms & Conditions is
                                    required.</div>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>




                      <div class="row mt-2">
                        <div class="col d-flex justify-content-end">
                          <button class="btn btn-success" type="submit">submit</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>